<nz-table>
    <thead>
      <tr>
        <th>STT</th>
        <th>Id</th>
        <th>Tên</th>
        <th>Danh mục</th>
        <th>Sản phẩm</th>
        <th>Số lượng</th>
        <th>Khuyến mãi</th>
        <th>Ngày bắt đầu</th>
        <th>Ngày kết thúc</th>
        <th>Mô tả</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>id</td>
        <td>name</td>
        <td>Category</td>
        <td>product</td>
        <td>12</td>
        <td>10%</td>
        <td>2021-12-01</td>
        <td>2021-12-01</td>
        <td>Mô tả chi tiết</td>
          <td>
            <a><i nz-icon nzType="edit" nzTheme="outline" ></i></a>
            <nz-divider nzType="vertical"></nz-divider>
            <a>
              <i nz-icon nzType="delete" nzTheme="outline" ></i>
            </a>
          </td>
      </tr>
      

    </tbody>
  </nz-table>
  