<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.pack.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
<div id="list"></div>
<script type="text/javascript">
    $(document).ready(function () {
        getListAccount();
    });

    //Thêm vào giỏ hàng
    function getListAccount() {
        $.ajax({
            type: "Get",
            url: "/list-account",
            success: function (data) {
                let html = "";
                data.map(e => {
                    html += `<p>${e.fullName}</p>`
                })
                $("#list").append(html)
            },
            error: function () {
                alert("Lỗi rồi")
            }
        })

    }
</script>
</body>
</html>