<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--products base-->
<div class="col-sm-3" th:fragment="products">
    <div class="product-image-wrapper">
        <a th:href="'/view?id='+${p.getId()}" class="single-products">
            <div class="productinfo">
                <img class="anhSP" th:src="${p.getImgUrl()}" alt="">
                <div class="content--product">
                    <b th:text="${p.getName()}"></b>
                    <h4 class="price"
                        th:text="${#numbers.formatDecimal(p.getOutputPrice(), 1, 'DEFAULT', 0, 'DEFAULT')} + ' đ'"></h4>
                    <s>56.750.000 đ</s>
                </div>
                <div>
                    <i class="fa fa-gift"></i><span style="margin-left: 5px;">Giảm giá</span>
                </div>
                <a th:attr="onclick=|addCompareProduct('${p.getId()}')|" class="btn btn-default add-to-cart">
                    <i class="fa fa-shopping-cart"></i>
                </a>
                <a onclick="getCompareProduct()" class="btn add-to-cart">
                    <i class="fa fa-plus"></i>
                </a>
            </div>

        </a>
    </div>
</div>


<!--products sale-->
<div class="col-sm-3" th:fragment="p_sale">
    <div class="product-image-wrapper">
        <a th:href="'/view?id='+${p.getId()}" class="single-products">
            <div class="productinfo">
                <img class="anhSP" th:src="${p.getImgUrl()}" alt="">
                <div class="content--product">
                    <b th:text="${p.getName()}"></b>
                    <h4 class="price"
                        th:text="${#numbers.formatDecimal(p.getOutputPrice() * (100 - p.getSaleProduct().getPromotion())/100, 1, 'DEFAULT', 0, 'DEFAULT')} + ' đ'"></h4>
                    <s class="price"
                       th:text="${#numbers.formatDecimal(p.getOutputPrice(), 1, 'DEFAULT', 0, 'DEFAULT')} + ' đ'"></s>
                </div>
                <div>
                    <i class="fa fa-gift"></i><span style="margin-left: 5px;">Giảm giá</span>
                </div>
                <a th:attr="onclick=|addCompareProduct('${p.getId()}')|" class="btn btn-default add-to-cart">
                    <i class="fa fa-shopping-cart"></i>
                </a>
                <a onclick="getCompareProduct()" class="btn add-to-cart">
                    <i class="fa fa-plus"></i>
                </a>
            </div>

        </a>
    </div>
</div>
</body>
</html>