<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<footer id="footer" th:fragment="footers">
    <!--Footer-->
    <div class="container">
        <div class="header-footer">
            <a href="#" class="link-home logo-shop">
                KING OF COMPUTER
            </a>
            <div class="right-header-footer">
                <div class="hotline">
                    <div class="title-hotline">Hotline</div>
                    <div class="phone-hotline">034.336.7899</div>
                </div>
                <div class="social">
                    <ul>
                        <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                        <li><a href="#"><span class="fab fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="content-footer">
            <ul class="list-product">
                <li class="primary-links__list-item">
                    <h2 class="title-link-item"><span>Sản phẩm và dịch vụ</span></h2>
                    <ul>
                        <li><a href="#" class="link-item">
                            Laptop Dell
                        </a>
                        </li>
                        <li><a href="#" class="link-item">
                            Laptop HP
                        </a></li>
                        <li><a href="#" class="link-item">
                            Laptop ThinkPad
                        </a></li>
                        <li><a href="#" class="link-item">
                            Laptop Lenovo
                        </a></li>
                    </ul>
                </li>
                <li class="primary-links__list-item">
                    <ul>
                        <li><a href="#" class="link-item">
                            Alienware
                        </a></li>
                        <li><a href="#" class="link-item">
                            Macbook
                        </a></li>
                        <li><a href="#" class="link-item">
                            Laptop Razer
                        </a></li>
                        <li><a href="#" class="link-item">
                            Phụ kiện
                        </a></li>
                    </ul>
                </li>
                <li class="primary-links__list-item">
                    <h2 class="title-link-item"><span>Chính sách</span></h2>
                    <ul>
                        <li><a href="#"
                               class="link-item">
                            Bảo hành
                        </a></li>
                        <li><a href="#"
                               class="link-item">
                            Vận chuyển
                        </a></li>
                        <li><a href="#"
                               class="link-item">
                            Thanh toán
                        </a></li>
                    </ul>
                </li>
                <li class="primary-links__list-item">
                    <h2 class="title-link-item"><span>Về King Of Computer</span></h2>
                    <ul>
                        <li><a href="#"
                               class="link-item">
                            Lịch sử thành lập
                        </a></li>
                        <li><a href="#"
                               class="link-item">
                            Giá trị cốt lõi
                        </a></li>
                        <li><a href="#"
                               class="link-item">
                            Tầm nhìn, Sứ mệnh
                        </a></li>
                    </ul>
                </li>
            </ul>

            <div class="blog-content">
                <h2 class="title-address-shop"><span>Địa chỉ cửa hàng</span></h2>
                <ul>
                    <li>
                        <div class="city-shop">Hà Nội:</div>
                        <div>
                            <div class="address">Số 5 114 Thái Hà, Đống Đa, Hà Nội</div> <a
                                href="#" rel="noopener" target="_blank" class="map">Chỉ
                            đường</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="end-footer">
            <div class="conten-end-footer">
                Copyright (C) 2020
                <div>
                    Công ty TNHH Công nghệ KING OF COMPUTER Việt Nam | Số ĐKKD 0107273909 do Sở
                    KHĐT Thành phố Hà Nội cấp ngày 30/12/2015.
                    <span>Email liên hệ: kingof@hobao.vn</span>
                </div>
            </div>
        </div>
    </div>

</footer>
</body>
</html>