@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);
body {
    font-family: "Roboto", sans-serif;
    position: relative;
    font-weight: 400px;
}

ul li {
    list-style: none;
}

a:hover {
    outline: none;
    text-decoration: none;
}

a:focus {
    outline: none;
    outline-offset: 0;
}

a {
    -webkit-transition: 300ms;
    transition: 300ms;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
}

.btn:hover,
.btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-toggle {
    background-color: #000;
}

a#scrollUp {
    bottom: 0px;
    right: 10px;
    padding: 5px 10px;
    background: #fe980f;
    color: #fff;
    -webkit-animation: bounce 2s ease infinite;
    animation: bounce 2s ease infinite;
}

a#scrollUp i {
    font-size: 30px;
}

/*************************
*******Header CSS******
**************************/

.header_top {
    background: none repeat scroll 0 0 #f0f0e9;
}

.contactinfo ul li:first-child {
    margin-left: -15px;
}

.contactinfo ul li a {
    font-size: 12px;
    color: #696763;
    font-family: "Roboto", sans-serif;
}

.contactinfo ul li a:hover {
    background: inherit;
}

.social-icons ul li a {
    border: 0 none;
    border-radius: 0;
    color: #696763;
    padding: 0px;
}

.social-icons ul li {
    display: inline-block;
}

.social-icons ul li a i {
    padding: 11px 15px;
    transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
}

.social-icons ul li a i:hover {
    color: #fff;
    transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
}

.fa-facebook:hover {
    background: #0083c9;
}

.fa-twitter:hover {
    background: #5bbcec;
}

.fa-linkedin:hover {
    background: #ff4518;
}

.fa-dribbble:hover {
    background: #90c9dc;
}

.fa-google-plus:hover {
    background: #ce3c2d;
}

.header-middle .container .row {
    border-bottom: 1px solid #f5f5f5;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 20px;
    padding-top: 20px;
}

.header-middle .container .row .col-sm-4 {
    padding-left: 0;
}

.detail--ts {
    width: 36.75%;
}

.header-middle .container .row .col-sm-8 {
    padding-right: 0;
}

.usa {
    border-radius: 0;
    color: #b4b1ab;
    font-size: 12px;
    margin-right: 20px;
    padding: 2px 15px;
    margin-top: 10px;
}

.usa:hover {
    background: #fe980f;
    color: #fff;
    border-color: #fe980f;
}

.usa:active,
.usa.active {
    background: none repeat scroll 0 0 #fe980f;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    outline: 0 none;
}

.btn-group.open .dropdown-toggle {
    background: rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropdown-menu li a:hover,
.dropdown-menu li a:focus {
    background-color: #fe980f;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

.shop-menu ul li {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

.shop-menu ul li:last-child {
    padding-right: 0;
}

.shop-menu ul li a {
    background: #ffffff;
    color: #696763;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 0;
    padding-right: 0;
    margin-top: 10px;
}

.shop-menu ul li a i {
    margin-right: 3px;
}

.shop-menu ul li a:hover {
    color: #fe980f;
    background: #fff;
}

.header-bottom {
    padding-bottom: 30px;
    padding-top: 30px;
}

.navbar-collapse.collapse {
    padding-left: 0;
}

.mainmenu ul li {
    padding-right: 15px;
    padding-left: 15px;
}

.mainmenu ul li:first-child {
    padding-left: 0px;
}

.mainmenu ul li a {
    color: #696763;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    padding: 0;
    padding-bottom: 10px;
}

.sub {
    font-weight: 300;
}

.mainmenu ul li a:hover,
.mainmenu ul li a.active,
.shop-menu ul li a.active {
    background: none;
    color: #fdb45e;
}

.search_box input {
    background: #f0f0e9;
    border: medium none;
    color: #b2b2b2;
    font-family: "roboto";
    font-size: 12px;
    font-weight: 300;
    height: 35px;
    outline: medium none;
    padding-left: 10px;
    width: 155px;
    background-image: url(../images/home/searchicon.png);
    background-repeat: no-repeat;
    background-position: 130px;
}

/*  Dropdown menu*/

.navbar-header .navbar-toggle .icon-bar {
    background-color: #fff;
}

.nav.navbar-nav > li:hover > ul.sub-menu {
    display: block;
    -webkit-animation: fadeInUp 400ms;
    animation: fadeInUp 400ms;
}

.nav.navbar-nav > li:hover > body {
    background-color: rgba(0, 0, 0, 0.527);
}

ul.sub-menu {
    position: absolute;
    top: 30px;
    left: 0;
    background: rgb(255, 255, 255);
    list-style: none;
    padding: 0;
    margin: 0;
    width: 220px;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 999;
    width: 80em;
    border-radius: 10px;
    border-right: 1px solid #f3f5f8;
    box-shadow: 1px 100px 1000px 10px #00000062;
}

.parent {
    font-weight: 600;
    margin-bottom: 5px;
}

.right-menu,
.left-menu {
    padding: 0;
}

.right-menu {
    border-right: 1px solid #f3f5f8;
}

.left-menu {
    color: #333;
}

.sub-li:nth-child(5n) {
    border-right: 0 solid #f3f5f8;
}

.left-menu-child {
    margin: 10px;
}

.sub-li {
    float: left;
    border-right: 1px solid #f3f5f8;
    width: 20%;
    height: 100%;
}

.row-li {
    float: left;
    height: auto;
    border-bottom: 1px solid #f3f5f8;
    width: 100%;
}

.dropdown ul.sub-menu li .active {
    color: #fdb45e;
    padding-left: 0;
}

.navbar-nav li ul.sub-menu li {
    padding: 10px 20px 0;
}

.navbar-nav li ul.sub-menu li:last-child {
    padding-bottom: 20px;
}

.navbar-nav li ul.sub-menu li a {
    color: #333;
}

.navbar-nav li ul.sub-menu li a:hover {
    color: #fdb45e;
}

.fa-angle-down {
    padding-left: 5px;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

/*************************
*******Footer CSS******
**************************/

#footer {
    background: #f6f6f6;
}

.footer-top .container {
    border-bottom: 1px solid #e0e0da;
    padding-bottom: 20px;
}

.companyinfo {
    margin-top: 57px;
}

.companyinfo h2 {
    color: #b4b1ab;
    font-family: abel;
    font-size: 27px;
    text-transform: uppercase;
}

.companyinfo h2 span {
    color: #fe980f;
}

.companyinfo p {
    color: #b3b3ad;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.footer-top .col-sm-3 {
    overflow: hidden;
}

.video-gallery {
    margin-top: 57px;
    position: inherit;
}

.video-gallery a img {
    height: 100%;
    width: 100%;
}

.iframe-img {
    position: relative;
    display: block;
    height: 61px;
    margin-bottom: 10px;
    border: 2px solid #ccccc6;
    border-radius: 3px;
}

.overlay-icon {
    position: absolute;
    top: 0;
    width: 100%;
    height: 61px;
    background: #fe980f;
    border-radius: 3px;
    color: #fff;
    font-size: 20px;
    line-height: 0;
    display: block;
    opacity: 0;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.overlay-icon i {
    position: relative;
    top: 50%;
    margin-top: -20px;
}

.video-gallery a:hover .overlay-icon {
    opacity: 1;
}

.video-gallery p {
    color: #8c8c88;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0px;
}

.video-gallery h2 {
    color: #8c8c88;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 0px;
}

.address {
    margin-top: 30px;
    position: relative;
    overflow: hidden;
}

.address img {
    width: 100%;
}

.address p {
    color: #666663;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    left: 25px;
    position: absolute;
    top: 50px;
}

.footer-widget {
    margin-bottom: 68px;
}

.footer-widget .container {
    border-top: 1px solid #ffffff;
    padding-top: 15px;
}

.single-widget h2 {
    color: #666663;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 22px;
    text-transform: uppercase;
}

.single-widget h2 i {
    margin-right: 15px;
}

.single-widget ul li a {
    color: #8c8c88;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 5px 0;
}

.single-widget ul li a i {
    margin-right: 18px;
}

.single-widget ul li a:hover {
    background: none;
    color: #fe980f;
}

.searchform input {
    border: 1px solid #dddddd;
    color: #ccccc6;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin-top: 0;
    outline: medium none;
    padding: 7px;
    width: 212px;
}

.searchform button {
    background: #fe980f;
    border: medium none;
    border-radius: 0;
    margin-left: -5px;
    margin-top: -3px;
    padding: 7px 17px;
}

.searchform button i {
    color: #ffffff;
    font-size: 20px;
}

.searchform button:hover,
.searchform button:focus {
    background-color: #fe980f;
}

.searchform p {
    color: #8c8c88;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-top: 25px;
}

.footer-bottom {
    background: #d6d6d0;
    padding-top: 10px;
}

.footer-bottom p {
    color: #363432;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin-left: 15px;
}

.footer-bottom p span a {
    color: #fe980f;
    font-style: italic;
    text-decoration: underline;
}
.form-checkout {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2.5rem;
}
.info-checkout {
    width: 70%;
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.title-info-user {
    margin-bottom: 1rem;
}
.title-form-payment {
    margin-bottom: 1rem;
    font-size: 18px;
    color: #ff4518;
    font-weight: 700;
}
.form-payment > div {
    display: flex;
    padding: 0 10px;
    position: relative;
    line-height: 2;
}
.form-payment > div > div:last-child {
    padding-left: 10px;
}
.radio-payment input {
    opacity: 0;
    z-index: 2;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    float: left;
    position: relative;
    top: 7px;
    left: 10px;
    margin: 0 8px 0 0;
}
.radio-payment .check-radio:checked ~ .radiobtn {
    background: #ce3c2d;
    border: 2px solid #ce3c2d;
}
.radio-payment .check-radio:checked ~ .radiobtn::after {
    content: "";
    top: 3px;
    left: 3px;
    width: 8.2px;
    height: 8.2px;
    border-radius: 50%;
    background: #fff;
    display: block;
    position: relative;
}
.radio-payment .radiobtn {
    position: absolute;
    top: 7px;
    left: 18px;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 1;
    border: 2px solid #e1e1e1;
}

.form-default-checkout .row {
    margin: 0 -8px;
}
.form-default-checkout .row [class*="col-"] {
    padding-left: 8px;
    padding-right: 8px;
}
.form-default-checkout .form-group .input-wrap {
    width: 100%;
}
.title-dresss-user {
    margin-bottom: 1rem;
}
.form-default-checkout .dresss-user .form-group .form-control {
    background: #f3f5f8;
    padding: 10px 16px;
    height: 48px;
    box-shadow: none;
    color: #0e0e0e;
    font-size: 16px;
    border-radius: 4px;
}
.form-default-checkout .info-user .form-group .form-control {
    background: #f3f5f8;
    padding: 10px 16px;
    height: 48px;
    box-shadow: none;
    color: #0e0e0e;
    font-size: 16px;
    border-radius: 4px;
}
.name-form-payment {
    font-size: 16px;
    color: #696763;
}
textarea.form-control {
    resize: none;
    min-height: 100px;
}
textarea.form-control:focus {
    outline: none;
}
.info-product-order {
    border: 1px solid #ccc;
    width: 30%;
    padding: 10px;
}
.quantity-order {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.title-product-order {
    display: flex;
}
.product-order {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}
.product-order .title-product-order .img-product-order {
    width: 100px;
}
.info-title-product-order {
    padding-top: 10px;
    padding-left: 10px;
    width: 170px;
    font-weight: 700;
    font-size: 16px;
}
.info-title-product-order > p {
    color: #ce3c2d;
    font-weight: 500;
    font-size: 14px;
}
.price-product-order {
    padding-top: 30px;
    font-size: 16px;
    color: #ce3c2d;
}
.price-product-order > s {
    color: #8c8c88;
    font-size: 14px;
}
.info {
    display: flex;
    justify-content: space-between;
    padding: 13px 0;
}
.title {
    font-size: 16px;
}
.info-price-total-order .price-total-order {
    font-size: 17px;
    font-weight: 600;
    color: #ce3c2d;
}
.info-voucher-order {
    padding-top: 20px;
}
.input-voucher-order input {
    width: 250px;
    padding: 7px 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    background: #f3f5f8;
}
.input-voucher-order input:focus {
    outline: none;
}

.btn-checkout-order {
    display: flex;
    margin-top: 30px;
}
.btn-checkout-order .btn {
    background: #c06029de;
    font-weight: 600;
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    border-radius: 56px;
    display: inline-block;
    padding: 0 40px;
    transition: 0.5s ease;
    box-shadow: none;
    text-align: center;
    cursor: pointer;
    color: #fff;
    margin-right: 20px;
}
.title-list-address {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #ff4518;
    padding-left: 5px;
}
.list-address {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}
.item-add {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #e1e1e1;
    padding: 10px;
    position: relative;
}
.item-add .name {
    width: 100%;
    float: left;
    display: flex;
    margin-bottom: 10px;
}
.radio-box {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}
.item-add.active .custom-radio-1-box {
    border-color: #e95851;
    background: #e95851;
}
.custom-radio-1-box {
    width: 1.6rem;
    height: 1.6rem;
    border: 1px solid transparent;
    border-radius: 50%;
    position: relative;
    transition: all 0.2s ease;
}
.custom-radio-1-box:after,
.custom-radio-1-box:before {
    content: "";
    position: absolute;
    width: 2px;
    background: transparent;
    border-radius: 2px;
    transition: all 0.2s ease;
}
.custom-radio-1-box:before {
    top: 6px;
    left: 4px;
    height: 5px;
    transform: rotate(-50deg);
}
.custom-radio-1-box:before {
    left: 3px;
    height: 7px;
}
.custom-radio-1-box:after {
    top: 4px;
    left: 7px;
    height: 7px;
    transform: rotate(40deg);
}
.custom-radio-1-box:after {
    top: 3px;
    left: 8px;
    height: 9px;
}
.item-add.active .custom-radio-1-box::after,
.item-add.active .custom-radio-1-box::before {
    background: #fff;
}
.name .name-user {
    font-size: 14px;
    font-weight: 700;
    padding-right: 5px;
}
.item-add p {
    width: 100%;
    float: left;
    line-height: 1.5;
    font-size: 14px;
}
.item-add .name-note {
    font-size: 14px;
    display: none;
    color: #ff4518;
    border-left: 1px solid #000;
    padding-left: 5px;
}
.item-add.default .name-note {
    display: block;
}
.item-add.active {
    border: 1px solid #ff4518;
}
.item-add .list-active {
    width: 100%;
    float: left;
    margin-top: 15px;
    display: flex;
    align-items: center;
}
.item-add .list-active a {
    float: left;
    padding: 0 15px;
    line-height: 32px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #e1e1e1;
    margin-right: 5px;
    color: #000;
    text-decoration: none;
    background: linear-gradient(180deg, #fff, #ebeceb);
}
.item-add .list-active .select-address {
    color: #fff;
    background: #464646;
    border: 1px solid #464646;
}
.add-new-address-event {
    padding: 20px 5px;
}
.add-new-address-event.remove{
    display: none;
}
.add-new-address-event a {
    text-decoration: none;
    font-size: 14px;
}
.form-add-address.show {
    display: block;
    overflow: hidden;
}
.form-add-address {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 100;
}
.form-add-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-height: calc(100vh - 20px);
    background: #fff;
    border-radius: 3px;
    overflow: auto;
}
.header-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.6rem 0;
}
.header-form .title-header-form {
    font-weight: 700;
    font-size: 2.4rem;
}
.body-form {
    padding: 2rem 2.4rem 0;
}
.body-form .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 2rem;
}
.input-wrapper {
    flex: 1;
    position: relative;
}

.input-wrapper-lable {
    display: inline-flex;
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    transition: all 0.2s ease;
    font-size: 1.6rem;
    pointer-events: none;
    color: #3f3f3f;
    z-index: 1;
}
.input-wrapper-lable.mini {
    top: 0;
    left: 4px;
    font-size: 1.3rem;
    padding: 0 0.5rem;
    color: #bfbfbf;
    background: #fff;
    pointer-events: none;
}
.custom-select {
    flex: 1;
    height: 4.4rem;
    font-size: 1.6rem;
    color: #3f3f3f;
}
.custom-select {
    display: inline-block;
    width: 100%;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.footer-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.4rem 2rem;
}
.footer-form .button {
    flex: 1;
    max-width: 48.5%;
    height: 5rem;
    font-size: 2rem;
}
.footer-form a {
    text-decoration: none;
}
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 2rem;
    font-size: 1.4rem;
}
.button-add-new-address {
    background: #ed3324;
    color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}
.btn-close-while {
    background: #fff;
    border: 1px solid #d4d7d9;
}
.payment-status {
    padding: 30px 20px;
}
.form-group .input-wrapper {
    position: relative;
}

.form-group .input-wrapper .item-tk-ct .inputText {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 0 10px;
    width: 100%;
    line-height: 40px;
}

.form-group .input-wrapper .item-tk-ct .select-full-ct {
    width: 100%;
    float: left;
    height: 120px;
    overflow: auto;
    background: #fff;
    -webkit-box-shadow: 0 0 3px 0 #ccc;
    box-shadow: 0 0 3px 0 #ccc;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
    display: none;
}

.form-group .input-wrapper .item-tk-ct .select-full-ct span {
    width: 100%;
    float: left;
    padding: 5px 10px;
    font-size: 14px;
    color: #000;
}
.form-group .input-wrapper .item-tk-ct .select-full-ct span:hover{
    background-color: #4281f8;
    color: #fff;
}
.item-tk .item-tk-ct.item-tk-ct-checkbox {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #000;
}
.inputCheckbox {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 10px 0 0 !important;
    border-radius: 3px;
    border: 1px solid #e1e1e1;
    position: relative;
}
.popup-delate-address-cart.active {
    display: block;
}
.popup-delate-address-cart {
    width: 480px;
    height: 180px;
    float: left;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-240px,-90px);
    transform: translate(-240px,-90px);
    z-index: 999;
    display: none;
}
.popup-delate-address-cart .h-pop {
    width: 100%;
    float: left;
    padding: 0 15px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 48px;
    background: #ff4518;
    font-size: 14px;
    color: #fff;
}
.popup-delate-address-cart .ct-pop {
    width: 100%;
    float: left;
    padding: 25px 15px;
}
.popup-delate-address-cart .ct-pop p {
    width: 100%;
    float: left;
    margin: 0 0 20px;
    font-size: 14px;
}
.popup-delate-address-cart .ct-pop .h-pop-action {
    width: 100%;
    float: left;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.popup-delate-address-cart .ct-pop .h-pop-action a {
    width: 150px;
    float: left;
    margin: 0 5px;
    border-radius: 5px;
    border: 1px solid #ff4518;
    line-height: 40px;
    color: #ff4518;
    text-align: center;
    font-size: 14px;
}
.popup-delate-address-cart .ct-pop .h-pop-action a.h-pop-ok {
    background: #ff4518;
    color: #fff;
}
.bg-h-pop {
    width: 100%;
    height: 100%;
    float: left;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 998;
    background: rgba(0,0,0,.5);
    display: none;
}
.bg-h-pop.active {
    display: block;
}
.input-wrapper-description{
    flex: 1;
    position: relative;
}
.input-wrapper__label {
    display: inline-flex;
    position: absolute;
    top: 0;
    left: 1rem;
    transform: translateY(-50%);
    transition: all .2s ease;
    font-size: 14px;
    background: #fff;
    pointer-events: none;
    color: #777;
    z-index: 1;
}
#description_order{
    margin-top: 25px;
}
#description_order .input-wrapper__label{
    font-size: 14px;
    color: #777;
    position: absolute;
    top: 0;
    background: #fff;
    padding: 3px 10px 3px 4px;
    left: 10px;
}

#description_order textarea {
    border: 1px solid #ced4da;
    padding: 15px;
}
.not-cart {
    justify-content: center;
    display: flex;
    padding: 60px 0;
}
.not-cart span{
    font-size: 18px;
    font-weight: 500;
}
.not-cart span a{
    color: #ff4518;
}
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}