<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>So sánh</title>
    <th:block th:replace="~{common/link :: link}"></th:block>
</head>
<body>
<div th:replace="~{common/header :: headers}"></div>


<section>
    <div class="container">
        <div class="row">
            <h3 style="padding-left: 15px">So sánh sản phẩm</h3>
            <div class="col-sm-12 padding-right">
                <div class=" category-tab shop-details-tab">
                    <div class="col-sm-12 float-right">
                        <table>
                            <tbody>
                            <tr id="img_compare">
                                <!--Hình ảnh so sánh-->
                            </tr>
                            <tr id="name_compare">
                                <!--Tên so sánh-->
                            </tr>
                            <tr id="discount_compare">
                                <!--Tiền giảm giá so sánh-->
                            </tr>
                            <tr id="price_compare">
                                <!--Giá tiền so sánh-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="content--compare">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<th:block th:replace="~{common/modal_compare :: modal_compare}"></th:block>

<div th:replace="~{common/script_src :: script}"></div>

<script type="text/javascript">
    //Biến chứa danh sách so sánh
    var list_compare = [];

    //Sự kiện mở trang
    window.onload = function () {
        callListCompare();
    }

    //Hàm gọi list só sánh
    const callListCompare = () => {
        $.ajax({
            type: 'get',
            url: '/get-compare',
            success: (data) => {
                list_compare = data;
                renderHeaderComp(list_compare);
                renderCompareDetail(list_compare);
            },
            error: () => {
                console.log(err);
            }
        })
    }

    //Hàm render header compare
    const renderHeaderComp = (list) => {
        let img_compare, name_compare, price_compare, discount_compare = '';
        console.log(list)
        for (let i = 0; i < list.length; i++) {
            if (list[i]?.id != undefined) {
                img_compare += `<td class="col-sm-6" >
                                <img class="col-sm-11 align-self-center" th:id="img_p+${i + 1}"
                                     src="${list[i]?.productsDetail?.imgUrl}"
                                     alt="">
                                     ${list[0]?.id != undefined && list[1]?.id != undefined ? `<i class="fa fa-times-circle" onclick="remove('p${i + 1}')"></i>` : ''}
                            </td>`;
                name_compare += `<td>${list[i]?.name}</td>`;
                price_compare += `<td><s>${list[i]?.productsDetail?.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + ' đ'}</s></td>`;
                discount_compare += `<td><p style="color: red;">${(list[i]?.productsDetail?.price - list[i]?.productsDetail?.price * list[i]?.productsDetail?.saleProduct?.promotion / 100).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + ' đ'}</p></td>`;
            } else {
                img_compare += `<td class="col-sm-6">
                                    <button type="button" class="btn" data-toggle="modal" id="compare_button" data-target=".bd-example-modal-lg" style="margin: 0 auto" onclick="findByNameAndType('','${list[0] != null ? list[0]?.typeOfItem : list[1]?.typeOfItem}')">
                                        Thêm so sánh
                                    </button>
                                </td>`;
                name_compare += `<td></td>`;
                price_compare += `<td></td>`;
                discount_compare += `<td></td>`;
            }
        }

        $('#img_compare').html('');
        $('#img_compare').append(img_compare);

        $('#name_compare').html('');
        $('#name_compare').append(name_compare);

        $('#price_compare').html('');
        $('#price_compare').append(price_compare);

        $('#discount_compare').html('');
        $('#discount_compare').append(discount_compare);
    }

    //Hàm render thông số chi tiết sản phẩm
    const renderCompareDetail = (list) => {
        var html = '';
        let company = ``;
        if (list[0]?.company != null || list[1]?.company != null) {
            for (let i = 0; i < list.length; i++) {
                company += `<span class="col-sm-6">${list[i]?.company != undefined ? list[i]?.company : ''}</span>`;
            }
            html += `<p class="col-sm-12 row-title" scope="row">Hãng sản xuất</p>
                    <div class="row-content">
                        ${company}
                    </div>`;
        }

        let name = ``;
        if (list[0]?.name != null || list[1]?.name != null) {
            for (let i = 0; i < list.length; i++) {
                name += `<span class="col-sm-6">${list[i]?.name != undefined ? list[i]?.name : ''}</span>`;
            }
            html += `<p class="col-sm-12 row-title" scope="row">Tên máy</p>
                    <div class="row-content">
                        ${name}
                    </div>`;
        }

        let color = ``;
        if (list[0]?.productsDetail?.color != null || list[1]?.productsDetail?.color != null) {
            for (let i = 0; i < list.length; i++) {
                color += `<span class="col-sm-6">${list[i]?.productsDetail?.color != undefined ? list[i]?.productsDetail?.color : ''}</span>`;
            }
            html += `<p class="col-sm-12 row-title"scope="row">Màu sắc</p>
                    <div class="row-content">
                        ${color}
                    </div>`;
        }

        let cpu = ``;
        if (list[0]?.productsDetail?.cpu != null || list[1]?.productsDetail?.cpu != null) {
            for (let i = 0; i < list.length; i++) {
                cpu += `<span class="col-sm-6">${list[i]?.productsDetail?.cpu != undefined ? list[i]?.productsDetail?.cpu : ''}</span>`;
            }
            html += `<p class="col-sm-12 row-title" scope="row">Vi xử lý</p>
                    <div class="row-content">
                        ${cpu}
                    </div>`;
        }

        let hardDrive = ``;
        if (list[0]?.productsDetail?.hardDrive != null || list[1]?.productsDetail?.hardDrive != null) {
            for (let i = 0; i < list.length; i++) {
                hardDrive += `<span class="col-sm-6">${list[i]?.productsDetail?.hardDrive != undefined ? list[i]?.productsDetail?.hardDrive : ''}</span>`;
            }
            html += `<p class="col-sm-12 row-title" scope="row">Ổ cứng</p>
                    <div class="row-content">
                        ${hardDrive}
                    </div>`;
        }

        let webcam = ``;
        if (list[0]?.productsDetail?.webcam != null || list[1]?.productsDetail?.webcam != null) {
            for (let i = 0; i < list.length; i++) {
                webcam += `<span class="col-sm-6">${list[i]?.productsDetail?.webcam != undefined ? list[i]?.productsDetail?.webcam : ''}</span>`;
            }
            html += `<p class="col-sm-12 row-title" scope="row">Webcam</p>
                    <div class="row-content">
                        ${webcam}
                    </div>`;
        }

        let vga = ``;
        if (list[0]?.productsDetail?.vga != null || list[1]?.productsDetail?.vga != null) {
            for (let i = 0; i < list.length; i++) {
                vga += `<span class="col-sm-6">${list[i]?.productsDetail?.vga != undefined ? list[i]?.productsDetail?.vga : ''}</span>`;
            }
            html += `<p class="col-sm-12 row-title" scope="row">Card đồ họa</p>
                    <div class="row-content">
                        ${vga}
                    </div>`;
        }

        let dimensions = ``;
        if (list[0]?.productsDetail?.dimensions != null || list[1]?.productsDetail?.dimensions != null) {
            for (let i = 0; i < list.length; i++) {
                vga += `<span class="col-sm-6">${list[i]?.productsDetail?.dimensions != undefined ? list[i]?.productsDetail?.dimensions : ''}</span>`;
            }
            html += `<p class="col-sm-12 row-title" scope="row">Khối lượng</p>
                    <div class="row-content">
                        ${dimensions}
                    </div>`;
        }

        let releaseYear = ``;
        if (list[0]?.releaseYear != null || list[1]?.releaseYear != null) {
            for (let i = 0; i < list.length; i++) {
                releaseYear += `<span class="col-sm-6">${list[i]?.releaseYear != undefined ? list[i]?.releaseYear : ''}</span>`;
            }
            html += `<p class="col-sm-12 row-title" scope="row">Năm phát hành</p>
                    <div class="row-content">
                        ${releaseYear}
                    </div>`;
        }

        let os = ``;
        if (list[0]?.productsDetail?.os != null || list[1]?.productsDetail?.os != null) {
            for (let i = 0; i < list.length; i++) {
                os += `<span class="col-sm-6">${list[i]?.productsDetail?.os != undefined ? list[i]?.productsDetail?.os : ''}</span>`;
            }
            html += `<p class="col-sm-12 row-title" scope="row">Hệ điều hành</p>
                    <div class="row-content">
                        ${os}
                    </div>`;
        }

        let power = ``;
        if (list[0]?.productsDetail?.power != null || list[1]?.productsDetail?.power != null) {
            for (let i = 0; i < list.length; i++) {
                power += `<span class="col-sm-6">${list[i]?.productsDetail?.power != undefined ? list[i]?.productsDetail?.power : ''}</span>`;
            }
            html += `<p class="col-sm-12 row-title" scope="row">Nguồn</p>
                    <div class="row-content">
                        ${power}
                    </div>`;
        }
        //Màn hình
        html += `<p class="col-sm-12 row-title" scope="row">Màn hình</p>`;
        let scanFrequency = ``;
        if (list[0]?.productsDetail?.scanFrequency != null || list[1]?.productsDetail?.scanFrequency != null) {
            for (let i = 0; i < list.length; i++) {
                scanFrequency += `<span class="col-sm-6">${list[i]?.productsDetail?.scanFrequency != undefined ? list[i]?.productsDetail?.scanFrequency : ''}</span>`;
            }
            /*html += `<p class="col-sm-12 row-title" scope="row">Tần số quét</p>
                    <div class="row-content">
                        ${scanFrequency}
                    </div> <hr>`;*/
        }

        let backgroundPanels = ``;
        if (list[0]?.productsDetail?.backgroundPanels != null || list[1]?.productsDetail?.backgroundPanels != null) {
            for (let i = 0; i < list.length; i++) {
                backgroundPanels += `<span class="col-sm-6">${list[i]?.productsDetail?.backgroundPanels != undefined ? list[i]?.productsDetail?.backgroundPanels : ''}</span>`;
            }
            /*html += `<p class="col-sm-12 row-title" scope="row">Tấm nền</p>
                    <div class="row-content">
                        ${backgroundPanels}
                    </div> <hr>`;*/
        }

        let contrast = ``;
        if (list[0]?.productsDetail?.contrast != null || list[1]?.productsDetail?.contrast != null) {
            for (let i = 0; i < list.length; i++) {
                contrast += `<span class="col-sm-6">${list[i]?.productsDetail?.contrast != undefined ? list[i]?.productsDetail?.contrast : ''}</span>`;
            }
            /*html += `<p class="col-sm-12 row-title" scope="row">Độ tương phản</p>
                    <div class="row-content">
                        ${contrast}
                    </div> <hr>`;*/
        }

        let responseTime = ``;
        if (list[0]?.productsDetail?.responseTime != null || list[1]?.productsDetail?.responseTime != null) {
            for (let i = 0; i < list.length; i++) {
                responseTime += `<span class="col-sm-6">${list[i]?.productsDetail?.responseTimet != undefined ? list[i]?.productsDetail?.responseTimet : ''}</span>`;
            }
            /* html += `<p class="col-sm-12 row-title" scope="row">Thời gian phản hồi</p>
                     <div class="row-content">
                         ${responseTime}
                     </div> <hr>`;*/
        }

        let viewScreenshots = ``;
        if (list[0]?.productsDetail?.viewScreenshots != null || list[1]?.productsDetail?.viewScreenshots != null) {
            for (let i = 0; i < list.length; i++) {
                viewScreenshots += `<span class="col-sm-6">${list[i]?.productsDetail?.viewScreenshots != undefined ? list[i]?.productsDetail?.viewScreenshots : ''}</span>`;
            }
            /*html += `<p class="col-sm-12 row-title" scope="row">Góc nhìn</p>
                    <div class="row-content">
                        ${viewScreenshots}
                    </div> <hr>`;*/
        }

        let displaySize = ``;
        if (list[0]?.productsDetail?.displaySize != null || list[1]?.productsDetail?.displaySize != null) {
            for (let i = 0; i < list.length; i++) {
                displaySize += `<span class="col-sm-6">${list[i]?.productsDetail?.displaySize != undefined ? list[i]?.productsDetail?.displaySize : ''}</span>`;
            }
            /*html += `<p class="col-sm-12 row-title" scope="row">Kích thước màn hình</p>
                    <div class="row-content">
                        ${displaySize}
                    </div> <hr>`;*/
        }

        let screenRatio = ``;
        if (list[0]?.productsDetail?.screenRatio != null || list[1]?.productsDetail?.screenRatio != null) {
            for (let i = 0; i < list.length; i++) {
                screenRatio += `<span class="col-sm-6">${list[i]?.productsDetail?.screenRatio != undefined ? list[i]?.productsDetail?.screenRatio : ''}</span>`;
            }
            // html += `<p class="col-sm-12 row-title" scope="row">Tỉ lệ màn hình</p>
            //         <div class="row-content">
            //             ${screenRatio}
            //         </div> <hr>`;
        }

        let brightness = ``;
        if (list[0]?.productsDetail?.brightness != null || list[1]?.productsDetail?.brightness != null) {
            for (let i = 0; i < list.length; i++) {
                brightness += `<span class="col-sm-6">${list[i]?.productsDetail?.brightness != undefined ? list[i]?.productsDetail?.brightness : ''}</span>`;
            }
            /*html += `<p class="col-sm-12 row-title" scope="row">Độ sáng</p>
                    <div class="row-content">
                        ${brightness}
                    </div> <hr>`;*/
        }

        html += `<div class="row-content">
                    ${scanFrequency}
                    ${backgroundPanels}
                    ${contrast}
                    ${responseTime}
                    ${viewScreenshots}
                    ${displaySize}
                    ${screenRatio}
                    ${brightness}
                </div>`
        //


        let connectivity = ``;
        if (list[0]?.productsDetail?.connectivity != null || list[1]?.productsDetail?.connectivity != null) {
            for (let i = 0; i < list.length; i++) {
                brightness += `<span class="col-sm-6">${list[i]?.productsDetail?.connectivity != undefined ? list[i]?.productsDetail?.connectivity : ''}</span>`;
            }
            html += `<p class="col-sm-12 row-title" scope="row">Kết nối</p>
                    <div class="row-content">
                        ${connectivity}
                    </div> <hr>`;
        }

        let battery = ``;
        if (list[0]?.productsDetail?.battery != null || list[1]?.productsDetail?.battery != null) {
            for (let i = 0; i < list.length; i++) {
                brightness += `<span class="col-sm-6">${list[i]?.productsDetail?.battery != undefined ? list[i]?.productsDetail?.battery : ''}</span>`;
            }
            html += `<p class="col-sm-12 row-title" scope="row">Pin</p>
                    <div class="row-content">
                        ${battery}
                    </div> <hr>`;
        }

        let warrantyPeriod = ``;
        if (list[0]?.productsDetail?.warrantyPeriod != null || list[1]?.productsDetail?.warrantyPeriod != null) {
            for (let i = 0; i < list.length; i++) {
                warrantyPeriod += `<span class="col-sm-6">${list[i]?.productsDetail?.warrantyPeriod != undefined ? list[i]?.productsDetail?.warrantyPeriod : ''}</span>`;
            }
            html += `<p class="col-sm-12 row-title" scope="row">Thời gian bảo hành</p>
                    <div class="row-content">
                        ${warrantyPeriod}
                    </div>`;
        }

        let accessoriesIncluded = ``;
        if (list[0]?.productsDetail?.accessoriesIncluded != null || list[1]?.productsDetail?.accessoriesIncluded != null) {
            for (let i = 0; i < list.length; i++) {
                accessoriesIncluded += `<span class="col-sm-6">${list[i]?.productsDetail?.accessoriesIncluded != undefined ? list[i]?.productsDetail?.accessoriesIncluded : ''}</span>`;
            }
            html += `<p class="col-sm-12 row-title" scope="row">Phụ kiện đi kèm</p>
                    <div class="row-content">
                        ${accessoriesIncluded}
                    </div>`;
        }

        $('#content--compare').html('');
        $('#content--compare').append(html);
    }

    // var list_compare
    const onchangSearch = () => {
        let name = $('#search-p-compare').val();
        let type_of_item = $('#type_of_item').val();
        findByNameAndType(name, type_of_item)
    }

    const focusHandler = () => {
        let type_of_item = $('#type_of_item').val();
        findByNameAndType('', type_of_item);
    }

    //Thêm vào so sánh
    function findByNameAndType(name, type) {
        $.ajax({
            type: "Get",
            url: "/find-by-p-sku",
            data: {'name': name, 'type': type},
            success: function (data) {
                console.log(data);
                let tcontent = '';
                for (let i = 0; i < data.length; i++) {
                    tcontent += `
                            <tr>
                                <th class="col-sm-3">
                                    <img class="col-sm-12 align-self-center p" id="p1"
                                        src="${data[i].productsDetail.imgUrl}"
                                        alt="">
                                </th>
                                <th class="col-sm-6">
                                    <h5>${data[i]?.name}</h5>
                                    ${data[i]?.productsDetail?.saleProduct != null ? `
                            <p style="color: red;">${(data[i]?.productsDetail?.price - data[i]?.productsDetail?.price * data[i]?.productsDetail?.saleProduct?.promotion / 100).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")} đ</p>` :
                        `<span>${data[i]?.productsDetail?.price.toString().replace(/\\B(?=(\\d{3})+(?!\\d))/g, ".")} đ</span>`}
                            ${data[i]?.productsDetail?.saleProduct != null ? `<s>${data[i]?.productsDetail?.price.toString().replace(/\\B(?=(\\d{3})+(?!\\d))/g, ".")} đ</s>` : ''}
                                </th>
                                <th class="col-sm-3">
                                    <a style="cursor: pointer" onclick="addCompareProduct('${data[i]?.productsDetail?.sku}')">Thêm so sánh</a>
                                </th>
                            </tr>`;
                    console.log(``)
                }
                $('#searchProducts').html('');
                $('#searchProducts').append(tcontent);
            },
            error: function () {
                alert("Lỗi rồi")
            }
        });
    }

    const remove = (id) => {
        $.ajax({
            type: "Get",
            url: "/remove-compare",
            data: {'key': id},
            success: function (data) {
                callListCompare();
            },
            error: function () {
                alert("Lỗi rồi")
            }
        })
    }

    //Thêm vào so sánh
    function addCompareProduct(sku) {
        $.ajax({
            type: "Get",
            url: "/add-compare",
            data: {'sku': sku},
            success: function (data) {
                if(data.key != '003') {
                    $("#myModal").modal('hide');
                }
                callListCompare();
                // }
                $("#notification-compare").append(`<div class="alert ${data.key === '000' ? 'alert-success' : 'alert-warning'} alert-dismissible">
                                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                            <strong>${data.key === '000' ? 'Thành công' : 'Thất bại'}!</strong>
                                                            <p>${data.message}</p>
                                                       </div>`);
                setTimeout(function () {
                        $('.alert').fadeOut('slow');
                    }, 3000
                );
            },
            error: function (e) {
                console.log(e);
            }
        });
    }
</script>
</body>
</html>