<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop | E-Shopper</title>
    <th:block th:replace="~{common/link :: link}"></th:block>
    <link th:href="@{/user-st/css/duongtest.css}" rel="stylesheet">
</head>
<!--/head-->

<body>
<div th:replace="~{common/header :: headers}"></div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="col-left">
                    <div class="text-base tong_sp" id="totalElements">
                    </div>
                    <form id="test">
                        <div class="filter-output"></div>
                        <div class="catalogue-wrap sticky">
                            <div class="back_step"><a href="javascript:;"
                                                      class="back">
                            </a>
                                <h2 class="title_cate"><span>Lọc</span></h2> <a href="javascript:;"
                                                                                class="btn-default apply active">
                                    Áp dụng
                                </a></div>
                            <div class="catalogue catalogue_final">
                                <div class="flex items-center mb-2">
                                    <h3 class="text-base leading-5 font-semibold flex items-center w-full">
                                        <span>Bộ lọc được áp dụng</span> <a href="javascript:;"
                                                                            class="ml-auto text-sm font-normal underline leading-5" id="delFilter">
                                        Bỏ lọc
                                    </a></h3></div>
                                <ul class="flex flex-wrap" id="filterPD">


                                </ul>
                            </div>

                            <div class="catalogue">
                                <h3 class=" items-center"><span>Thương hiệu</span>
                                    <p class="btn-plus-category"><i class="fas fa-plus"></i></p>
                                </h3>

                                <div class="catalogue__list" id="trademark">


                                </div>
                            </div>
                            <!-- Khoảng Giá -->
                            <div class="catalogue">
                                <h3 class=" items-center"><span>Khoảng Giá</span>
                                    <p class="btn-plus-category"><i id="khoang" class="fas fa-plus"></i></p>
                                </h3>
                                <div class="catalogue__list">
                                    <label class="check-list">
                                        <span class="text">Trên 50 triệu</span>
                                        <input class="br" id="checkbox2" type="checkbox" value="tren_50_trieu"
                                        >
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="check-list">
                                        <span class="text">40 - 50 triệu</span>
                                        <input class="br" id="checkbox2" type="checkbox" value="40_50_trieu"
                                        >
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="check-list">
                                        <span class="text">30 - 40 triệu</span>
                                        <input class="br" type="checkbox" id="checkbox2" value="30_40_trieu"
                                        >
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="check-list">
                                        <span class="text">20 - 30 triệu</span>
                                        <input class="br" type="checkbox" id="checkbox2" value="20_30_trieu"
                                        >
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="check-list">
                                        <span class="text">10 - 20 triệu</span>
                                        <input class="br" type="checkbox" id="checkbox2" value="10_20_trieu"
                                        >
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="check-list">
                                        <span class="text">Dưới 10 triệu</span>
                                        <input class="br" type="checkbox" id="checkbox2" value="duoi_10_trieu"
                                        >
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>

                            <!--Chỉ hiển thị khuyến mại-->
                            <div class="catalogue" style="padding-top: 15px;">
                                <label class="type__toggle-button items-start">
                                    <span class="text">Chỉ hiện thị khuyến mại</span>
                                    <input type="checkbox" id="checkboxSale" class="toggle_button">
                                </label>
                            </div>

                            <!--CPU-->

                            <div class="catalogue" id="cpu">
                                <h3 class=" items-center"><span>CPU</span>
                                    <p class="btn-plus-category"><i class="fas fa-plus"></i></p>
                                </h3>
                                <div class="catalogue__list">
                                    <label class="check-list">
                                        <span class="text">Intel Core i3</span>
                                        <input class="br" type="checkbox" id="checkbox3" value="i3">
                                        <!--                                               name="fooby[2][]"-->

                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="check-list">
                                        <span class="text">Intel Core i5</span>
                                        <input class="br" type="checkbox" id="checkbox3" value="Intel® Core™ i5-12700K">
                                        <!--                                               name="fooby[2][]"-->

                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="check-list">
                                        <span class="text">Intel Core i7</span>
                                        <input class="br" type="checkbox" id="checkbox3" value="i7">
                                        <!--                                               name="fooby[2][]"-->

                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="check-list">
                                        <span class="text">Intel Core i9</span>
                                        <input class="br" type="checkbox" id="checkbox3" value="i9">
                                        <!--                                               name="fooby[2][]"-->

                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="check-list">
                                        <span class="text">Intel Xeon</span>
                                        <input class="br" type="checkbox" id="checkbox3" value="Intel Xeon">
                                        <!--                                               name="fooby[2][]"-->

                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>

                            <!--Ram-->

                            <div class="catalogue" id="ram">
                                <h3 class=" items-center"><span>Ram</span>
                                    <p class="btn-plus-category"><i class="fas fa-plus"></i></p>
                                </h3>
                                <div class="catalogue__list">
                                    <label class="check-list">
                                        <span class="text">4GB</span>
                                        <input class="br" type="checkbox" id="checkbox4" value="4GB">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="check-list">
                                        <span class="text">8GB</span>
                                        <input class="br" type="checkbox" id="checkbox4" value="8GB">

                                        <span class="checkmark"></span>
                                    </label>

                                    <label class="check-list">
                                        <span class="text">12 GB</span>
                                        <input class="br" type="checkbox" id="checkbox4" value="12GB">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="check-list">
                                        <span class="text">16 GB</span>
                                        <input class="br" type="checkbox" id="checkbox4" value="16GB">
                                        <span class="checkmark"></span>
                                    </label>

                                    <label class="check-list">
                                        <span class="text">32 GB</span>
                                        <input class="br" type="checkbox" id="checkbox4" value="32GB">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="check-list">
                                        <span class="text">64 GB</span>
                                        <input class="br" type="checkbox" id="checkbox4" value="64GB">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>


                            <!--Kích thước màn hình-->
                            <div class="catalogue">
                                <h3 class=" items-center"><span>Kích thước màn hình</span>
                                    <p class="btn-plus-category"><i class="fas fa-plus"></i></p>
                                </h3>
                                <div class="catalogue__list">
                                    <label class="check-list">
                                        <span class="text">13.3</span>
                                        <input type="checkbox" id="checkbox5" value="13.3">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="check-list">
                                        <span class="text">14</span>
                                        <input type="checkbox" id="checkbox5" value="14">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="check-list">
                                        <span class="text">15.6</span>
                                        <input type="checkbox" id="checkbox5" value="15.6">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="check-list">
                                        <span class="text">16.9</span>
                                        <input type="checkbox" id="checkbox5" value="16.9">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="check-list">
                                        <span class="text">16.10</span>
                                        <input type="checkbox" id="checkbox5" value="16.10">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="check-list">
                                        <span class="text">22</span>
                                        <input type="checkbox" id="checkbox5" value="22">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="check-list">
                                        <span class="text">24</span>
                                        <input type="checkbox" id="checkbox5" value="24">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="check-list">
                                        <span class="text">27</span>
                                        <input type="checkbox" id="checkbox5" value="27">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>

                            <!--Tỉ lệ màn hình-->

                            <div class="catalogue" id="tlmh">
                                <h3 class=" items-center"><span>Tỉ lệ màn hình</span>
                                    <p class="btn-plus-category"><i class="fas fa-plus"></i></p>
                                </h3>
                                <div class="catalogue__list">
                                    <label class="check-list">
                                        <span class="text">16:9</span>
                                        <input type="checkbox" id="checkbox6" value="16:9">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="check-list">
                                        <span class="text">16:10</span>
                                        <input type="checkbox" id="checkbox6" value="16:10">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="check-list">
                                        <span class="text">3:2</span>
                                        <input type="checkbox" id="checkbox6" value="3:2">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>

                            <!--Tần số quyét-->

                            <div class="catalogue" id="tsq">
                                <h3 class=" items-center"><span>Tần số quét</span>
                                    <p class="btn-plus-category"><i class="fas fa-plus"></i></p>
                                </h3>
                                <div class="catalogue__list">
                                    <label class="check-list">
                                        <span class="text">60 Hz</span>
                                        <input type="checkbox" id="checkbox7" value="60Hz">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="check-list">
                                        <span class="text">75 Hz</span>
                                        <input type="checkbox" id="checkbox7" value="75Hz">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="check-list">
                                        <span class="text">120 Hz</span>
                                        <input type="checkbox" id="checkbox7" value="120Hz">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="check-list">
                                        <span class="text">144 Hz</span>
                                        <input type="checkbox" id="checkbox7" value="144Hz">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="check-list">
                                        <span class="text">165 Hz</span>
                                        <input type="checkbox" id="checkbox7" value="165Hz">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>

                            <!--Độ phân giải-->

                            <div class="catalogue" id="dpg">
                                <h3 class=" items-center"><span>Độ phân giải</span>
                                    <p class="btn-plus-category"><i class="fas fa-plus"></i></p>
                                </h3>
                                <div class="catalogue__list">
                                    <label class="check-list">
                                        <span class="text">HD</span>
                                        <input type="checkbox" id="checkbox8" value="HD">
                                        <span class="checkmark"></span>
                                    </label>

                                    <label class="check-list">
                                        <span class="text">FHD</span>
                                        <input type="checkbox" id="checkbox8" value="FHD">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="check-list">
                                        <span class="text">2K</span>
                                        <input type="checkbox" id="checkbox8" value="2K">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="check-list">
                                        <span class="text">4K</span>
                                        <input type="checkbox" id="checkbox8" value="4K">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>


                            <!--Card đồ họa-->

                            <div class="catalogue" id="cdh">
                                <h3 class=" items-center"><span>Card đồ họa</span>
                                    <p class="btn-plus-category"><i class="fas fa-plus"></i></p>
                                </h3>
                                <div class="catalogue__list">
                                    <label class="check-list">
                                        <span class="text">Intel HD</span>
                                        <input type="checkbox" id="checkbox9" value="Intel HD"
                                        >
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="check-list">
                                        <span class="text">Intel Iris</span>
                                        <input type="checkbox" id="checkbox9" value="Intel Iris"
                                        >
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="check-list">
                                        <span class="text">Nvidia Geforce</span>
                                        <input type="checkbox" id="checkbox9" value="Nvidia Geforce"
                                        >
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="check-list">
                                        <span class="text">Nvidia Quadro</span>
                                        <input type="checkbox" id="checkbox9" value="Nvidia Quadro"
                                        >
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="check-list">
                                        <span class="text">AMD Radeon</span>
                                        <input type="checkbox" id="checkbox9" value="AMD Radeon"
                                        >
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="check-list">
                                        <span class="text">AMD FirePro</span>
                                        <input type="checkbox" id="checkbox9" value="AMD FirePro"
                                        >
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items col_right">
                    <!--features_items-->
                    <div class="sort-fillter">
                        <div class="sort-fillter__left">
                            <strong>Sắp xếp theo:</strong>&ensp;
                            <span style="cursor: pointer" class="sortAsc"> Giá tăng dần</span>
                            <input class="asc" style="visibility: hidden" type="checkbox" id="checkbox0" value="asc"
                                   name="fooby[0][]">
                            <span style="cursor: pointer" class="sortDesc">Giá giảm dần </span>
                            <input class="desc" style="visibility: hidden" type="checkbox" id="checkbox0" value="desc"
                                   name="fooby[0][]">
                        </div>
                    </div>

                    <div id="emty">

                    </div>

                    <div id="formFilter">

                    </div>
                </div>


                <div id="pagination">
                    <ul id="pagination-2" class="pagination"></ul>
                </div>


            </div>
        </div>
    </div>
</section>
<div id="compare">

</div>
<div th:replace="~{common/footer :: footers}"></div>
<!--/Footer-->

<th:block th:replace="~{common/script_src :: script}"></th:block>
<script th:src="@{/user-st/js/duongtest.js}"></script>
<script th:src="@{/user-st/serchProducts.js}"></script>
<script th:src="@{/user-st/pagination.js}"></script>
<script th:src="@{/user-st/js/compare.js}"></script>
</body>

</html>