<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Product Details | E-Shopper</title>
    <th:block th:replace="~{common/link :: link}"></th:block>
    <link th:href="@{/user-st/css/star.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
          integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" th:href="@{/user-st/css/default.min.css}"/>
    <link rel="stylesheet" th:href="@{/user-st/css/alertify.min.css}"/>
</head>
<!--/head-->

<body>

<!--/header-->
<div th:replace="~{common/header :: headers}"></div>
<!--/header-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 padding-right">
                <div class="product-details">
                    <!--product-details-->
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img id="img-note" th:src="${pd.imgUrl}" alt="">
                        </div>
                        <div id="similar-product" class="carousel slide" data-ride="carousel">

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="col-sm-12 img--detail">
                                    <div class="col-sm-3 boder-img"
                                         th:attr="onclick=|changeImgDetail('${product.getId()}')|"
                                         th:id="${product.getId()}">
                                        <img th:id="${'img'+product.getId()}" class="dt-ing"
                                             th:src="${pd.imgUrl}" alt="">
                                    </div>
                                    <th:block th:each="img:${pd.imageDetails}">
                                        <div class="col-sm-3 boder-img"
                                             th:attr="onclick=|changeImgDetail('${img.getId()}')|"
                                             th:id="${img.getId()}">
                                            <img th:id="${'img'+img.getId()}"
                                                 th:src="${img.getNamePath()}" alt="">
                                        </div>
                                    </th:block>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="product-information">
                            <!--/product-information-->
                            <span class="col-sm-12 tile--product--detail" th:text="${product.getName()}"></span>
                            <div class="product-information-left col-sm-7">
                                <div class="card-body text-center starShowResult">
                                    <!--                                    <h4 class="mt-1">Rate us</h4>-->
                                    <fieldset class="rating"><input type="radio" id="star5" name="rating"
                                                                    value="5"/><label class="full" for="star5"></label>
                                        <input type="radio" id="star4half" name="rating" value="4.5"/><label
                                                class="half" for="star4half"></label> <input type="radio" id="star4"
                                                                                             name="rating"
                                                                                             value="4"/><label
                                                class="full" for="star4"></label> <input type="radio" id="star3half"
                                                                                         name="rating"
                                                                                         value="3.5"/><label
                                                class="half" for="star3half"></label> <input type="radio" id="star3"
                                                                                             name="rating"
                                                                                             value="3"/><label
                                                class="full" for="star3"></label><input type="radio" id="star2half"
                                                                                        name="rating"
                                                                                        value="2.5"/><label class="half"
                                                                                                            for="star2half"></label><input
                                                type="radio" id="star2" name="rating" value="2"/><label class="full"
                                                                                                        for="star2"></label>
                                        <input type="radio" id="star1half" name="rating" value="1.5"/><label
                                                class="half" for="star1half"></label><input type="radio" id="star1"
                                                                                            name="rating"
                                                                                            value="1"/><label
                                                class="full" for="star1"></label><input type="radio" id="starhalf"
                                                                                        name="rating" value="1"/><input
                                                type="radio" class="reset-option" name="rating" value="reset"/>
                                    </fieldset>
                                    <span class="myratings"></span>
                                </div>
                                <div class="flex items-center mb-4 space-x-3 text-sm font-semibold leading-5 text-body-main">
                                    <span class="mpn" id="idProduct">MPN: [[${product.getId()}]]</span>
                                    <span class="text-gray-100">|</span>
                                    <span>SKU: </span>
                                    <span id="skuProduct">[[${pd.getSku()}]] </span>
                                </div>
                                <div id="information-short-product">
                                    <span>
										<span th:text="${pd.saleProduct != null ?
										 #numbers.formatDecimal(pd.price * (100 - pd.saleProduct.promotion)/100, 1, 'DEFAULT', 0, 'DEFAULT'):
										 #numbers.formatDecimal(pd.price, 1, 'DEFAULT', 0, 'DEFAULT')} + ' đ'"></span>
										<div>
											<label>Số lượng:</label>
											<input  th:id="quantityProductDt" type="number" value="1" min="1" ,
                                                    th:max="${pd.quantity}" th:attr="onchange=|checkNumberCartOnblur(${pd.quantity})|"/>
										</div>
									</span>
                                    <br>
                                    <th:block th:if="${product.getTypeOfItem()}=='LT01'"> <!-- Gộp sau  -->
                                        <th:block th:if="${pd?.getCpu()}!=null"><p><b>Vi xử
                                            lý: </b>
                                            [[${pd.getCpu()}]]</p></th:block>
                                        <th:block th:if="${pd?.getRam()} !=null"><p><b>RAM:</b>
                                            [[${pd.getRam()}]]</p></th:block>
                                        <th:block th:if="${pd?.getHardDrive()} !=null"><p><b>Ổ
                                            cứng: </b>[[${pd?.getHardDrive()}]]</p></th:block>
                                        <th:block th:if="${pd?.getVga()} !=null"><p><b>Card đồ
                                            họa: </b> [[${pd?.getVga()}]] </p></th:block>
                                        <th:block th:if="${pd?.getDisplaySize()}!=null"><p><b>Màn
                                            hình: </b> [[${pd?.getDisplaySize()}]]</p>
                                        </th:block>
                                        <th:block th:if="${pd?.getOs()}!=null"><p><b>Hệ
                                            điều hành: </b> [[${pd?.getOs()}]]</p>
                                        </th:block>
                                        <th:block th:if="${pd.getColor()}!=null"><p><b>Màu
                                            sắc: </b>[[${pd.getColor()}]]</p></th:block>
                                        <p><b>Tình trạng: </b>
                                            <th:block
                                                    th:text="${pd.getQuantity()>0?'Còn hàng':'Tạm hết'}"></th:block>
                                        </p>
                                    </th:block>
                                    <th:block th:if="${product.getTypeOfItem()}=='PC01'"><!-- Gộp sau  -->
                                        <th:block th:if="${pd?.getCpu()}!=null"><p><b>Vi xử
                                            lý: </b>
                                            [[${pd.getCpu()}]]</p></th:block>
                                        <th:block th:if="${pd?.getRam()} !=null"><p><b>RAM:</b>
                                            [[${pd.getRam()}]]</p></th:block>
                                        <th:block th:if="${pd?.getHardDrive()} !=null"><p>
                                            <b>SSD: </b>[[${pd?.getHardDrive()}]]</p>
                                        </th:block>
                                        <th:block th:if="${pd?.getVga()} !=null"><p><b>Card đồ
                                            họa: </b> [[${pd?.getVga()}]] </p></th:block>
                                        <th:block th:if="${pd?.getDisplaySize()}!=null"><p><b>Màn
                                            hình: </b> [[${pd?.getDisplaySize()}]]</p>
                                        </th:block>
                                        <th:block th:if="${pd?.getOs()!=null}"><p><b>Hệ
                                            điều hành: </b> [[${pd?.getOs()}]]</p>
                                        </th:block>
                                        <th:block th:if="${pd?.getColor()}!=null"><p><b>Màu
                                            sắc: </b>[[${pd?.getColor()}]]</p></th:block>
                                        <th:block th:if="${pd?.getPower()}!=null"><p>
                                            <b>Nguồn: </b>[[${pd.getPower()}]]
                                        </p></th:block>
                                        <p><b>Tình trạng: </b>
                                            <th:block
                                                    th:text="${pd.getQuantity()>0?'Còn hàng':'Tạm hết'}"></th:block>
                                        </p>
                                    </th:block>
                                    <th:block th:if="${product.getTypeOfItem()}=='MN01'"> <!-- Gộp sau  -->
                                        <th:block th:if="${pd.getDisplaySize()}!=null"><p><b>Kích
                                            Thước Màn Hình: </b> [[${pd?.getDisplaySize()}]]
                                        </p>
                                        </th:block>
                                        <th:block th:if="${pd.getBrightness()} !=null"><p><b>Độ
                                            Sáng Màn Hình:</b> [[${pd?.getBrightness()}]]</p>
                                        </th:block>
                                        <th:block th:if="${pd.getContrast()} !=null"><p><b>Tỉ
                                            Lệ
                                            Tương Phản Động: </b>[[${pd?.getContrast()}]]</p>
                                        </th:block>
                                        <th:block th:if="${pd.getResolution()} !=null"><p><b>Độ
                                            Phân Giải Màn Hình: </b> [[${pd?.getResolution()}]]
                                        </p>
                                        </th:block>
                                        <th:block th:if="${pd.getResponseTime()}!=null"><p><b>Thời
                                            Gian Đáp Ứng : </b> [[${pd?.getResponseTime()}]]
                                        </p>
                                        </th:block>
                                        <th:block th:if="${pd.getViewScreenshots()}!=null"><p>
                                            <b>Góc
                                                nhìn : </b> [[${pd?.getViewScreenshots()}]]</p>
                                        </th:block>
                                        <p><b>Tình trạng: </b>
                                            <th:block
                                                    th:text="${pd.getQuantity()>0?'Còn hàng':'Tạm hết'}"></th:block>
                                        </p>
                                    </th:block>
                                </div>

                                <p><b>Trạng thái: </b>Mới</p>
                                <!--                                <p><b>Thương hiệu: </b><th:block th:text="${pd.getCpu()}"></th:block></p>-->
                                <button type="button" class="btn btn-fefault cart link-add-to-cart"
                                        th:attr="onclick=|addToCart('${pd.getSku()}')|">
                                    <i class="fa fa-shopping-cart"></i>
                                    Thêm vào giỏ hàng
                                </button>
                                <button type="button" class="btn link-add-to-compare"
                                        th:attr="onclick=|addCompareProduct('${pd.getSku()}')|">
                                    <i class="fa fa-plus-circle"></i>
                                    Thêm so sánh
                                </button>
                            </div>
                            <div class="product-information-right col-sm-5">
                                <div class="information-right">
                                    <p>Bảo hành</p>
                                    <ul>
                                        <li>Bảo hành chính hãng tại nhà 12 tháng (Hotline: 1800 1503)</li>
                                        <li>Đổi mới trong 15 ngày đầu tiên</li>
                                    </ul>
                                </div>
                                <!--option sản phẩm -->
                            </div>
                        </div>
                        <!--/product-information-->
                        <h4 class="title-option"
                            th:text="'Có ' + ${product.getProductsDetails().size()}+' cấu hình tùy chọn'"></h4>
                        <div th:each="d : ${product.getProductsDetails()}" th:id="${d.getSku()}+'-div'"
                             th:class="'option-product '+ ${d.getSku() == pd.getSku() ? 'active-option' : 'option'}"
                             th:attr="onclick=|selectOption('${d.getSku()}')|">
                            <div class="col-sm-9">
                                <span class="min-text" th:text="'SKU: '+${d.getSku()}"></span>
                                <div class="med-text bold-text">
                                    <span th:if="${d.getCpu() != ''}" th:text="${d.getCpu()}"></span>
                                    <span th:if="${d.getRam() != ''}" th:text="', '+${d.getRam()}"></span>
                                    <span th:if="${d.getHardDrive() != ''}" th:text="', '+${d.getHardDrive()}"></span>
                                    <span th:if="${d.getDisplaySize() != ''}"
                                          th:text="', '+${d.getDisplaySize()}"></span>
                                    <span th:if="${d.getScanFrequency() != ''}"
                                          th:text="' '+${d.getScanFrequency()}"></span>
                                    <span th:if="${d.getResolution() != ''}" th:text="' '+${d.getResolution()}"></span>
                                    <span th:if="${d.getVga() != ''}" th:text="', '+${d.getVga()}"></span>
                                    <span th:if="${d.getBattery() != ''}" th:text="', '+${d.getBattery()}"></span>
                                    <span th:if="${d.getColor() != ''}" th:text="', '+${d.getColor()}"></span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <span class="right"
                                      th:text="${d.saleProduct != null ? #numbers.formatDecimal(d.price * (100 - d.saleProduct.promotion)/100, 1, 'DEFAULT', 0, 'DEFAULT'):#numbers.formatDecimal(d.price, 1, 'DEFAULT', 0, 'DEFAULT')} + ' đ'"></span>

                                <s class="right" th:if="${d.saleProduct != null}"
                                   th:text="${#numbers.formatDecimal(d.price, 1, 'DEFAULT', 0, 'DEFAULT')} + ' đ'"></s>
                            </div>
                            <div class="clear-both" style="clear: both;"></div>
                            <div class="col-12-sm bottom-option">
                                <span>Hàng mới, chính hãng, fullbox</span>
                                <input type="checkbox" th:id="${d.getSku()}+'-chk'" class="flex-chk"
                                       th:checked="${d.getSku() == pd.getSku()? true : false}">
                            </div>
                        </div>
                    </div>
                </div>
                <!--/product-details-->

                <!--category-tab-->
                <div class="col-sm-7 category-tab shop-details-tab">
                    <h3>Đánh giá chi tiết</h3>
                    <th:block th:each="d: ${description_p}">
                        <div class="description--product">
                            <p class="description--title" th:text="${d.getTitle()}"></p>
                            <p class="description--content" th:text="${d.getContent()}"></p>
                            <img th:src="${d.getImgUrl()}" alt="" class="description--img">
                        </div>
                    </th:block>
                </div>
                <div class="col-sm-5 detail--ts category-tab shop-details-tab">
                    <h3>Thông số kỹ thuật</h3>
                    <table class="table table-striped">
                        <tbody>
                        <th:block>

                            <tr th:if="${product.getCompany()!=null}">
                                <th scope="row">Hãng sản xuất</th>
                                <td>[[${product.getCompany()}]]</td>
                            </tr>

                            <tr th:if="${product.getName()!=null}">
                                <th scope="row">Tên máy</th>
                                <td th:text="${product.getName()}"></td>
                            </tr>
                            <tr th:if="${pd.getColor()!=null}">
                                <th scope="row">Màu sắc</th>
                                <td th:text="${pd.getColor()}"></td>
                            </tr>
                            <tr th:if="${pd.getCpu()!=null}">
                                <th scope="row">Bộ vi xử lý</th>
                                <td th:text="${pd.getCpu()}"></td>
                            </tr>

                            <tr th:if="${pd.getCpu()!=null}">
                                <th scope="row">Ổ cứng</th>
                                <td th:text="${pd.getHardDrive()}"></td>
                            </tr>
                            <tr th:if="${pd.getWebcam()!=null}">
                                <th scope="row">Webcam</th>
                                <td th:text="${pd.getWebcam()}"></td>
                            </tr>
                            <tr th:if="${pd.getVga()!=null}">
                                <th scope="row">Card đồ họa</th>
                                <td th:text="${pd.getVga()}"></td>
                            </tr>
                            <tr th:if="${product.getReleaseYear()!=null}">
                                <th scope="row">Năm phát hành</th>
                                <td>[[${product.getReleaseYear()}]]</td>
                            </tr>
                            <tr th:if="${pd.getOs()!=null}">
                                <th scope="row">Hệ điều hành</th>
                                <td>[[${pd.getOs()}]]</td>
                            </tr>
                            <tr th:if="${pd.getPower()!=null}">
                                <th scope="row">Nguồn</th>
                                <td>[[${pd.getPower()}]]</td>
                            </tr>
                            <tr th:if="${pd.getScanFrequency()!=null}">
                                <th scope="row">Tần số quét</th>
                                <td>[[${pd.getScanFrequency()}]]</td>
                            </tr>
                            <tr th:if="${pd.getBackgroundPanels()!=null}">
                                <th scope="row">Tấm nền</th>
                                <td>[[${pd.getBackgroundPanels()}]]</td>
                            </tr>

                            <tr th:if="${pd.getContrast()!=null}">
                                <th scope="row">Độ tương phản</th>
                                <td>[[${pd.getContrast()}]]</td>
                            </tr>

                            <tr th:if="${pd.getResponseTime()!=null}">
                                <th scope="row">Thời gian phản hồi</th>
                                <td>[[${pd.getResponseTime()}]]</td>
                            </tr>
                            <tr th:if="${pd.getViewScreenshots()!=null}">
                                <th scope="row">Góc nhìn</th>
                                <td>[[${pd.getViewScreenshots()}]]</td>
                            </tr>

                            <tr th:if="${pd.getDisplaySize()!=null}">
                                <th scope="row">Kích thước màn hình</th>
                                <td>[[${pd.getDisplaySize()}]]</td>
                            </tr>

                            <tr th:if="${pd.getScreenRatio()!=null}">
                                <th scope="row">Tỉ lệ màn hình</th>
                                <td> [[${pd.getScreenRatio()}]]</td>
                            </tr>

                            <tr th:if="${pd.getBrightness()!=null}">
                                <th scope="row">Độ sáng</th>
                                <td>[[${pd.getBrightness()}]]</td>
                            </tr>

                            <tr th:if="${pd.getWarrantyPeriod()!=null}">
                                <th scope="row">Thời gian bảo hành</th>
                                <td>[[${pd.getWarrantyPeriod()}]]</td>
                            </tr>

                            <tr th:if="${pd.getAccessoriesIncluded()!=null}">
                                <th scope="row">Phụ kiện đi kèm</th>
                                <td>[[${pd.getAccessoriesIncluded()}]]</td>
                            </tr>

                        </th:block>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12 ">
                    <h1>Đánh giá của khách hàng</h1>
                </div>
                <!--/category-tab-->

                <div class="recommended_items clear-both">
                    <!--recommended_items-->
                    <h2 class="title text-center">Sản phẩm liên quan</h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <th:block
                                    th:each="key:${#numbers.sequence( 1, (4*(related_products.size/4)<related_products.size ? (related_products.size/4)+1:related_products.size/4), 1)}">
                                <div th:if="${key == 1}" class="item active">
                                    <!---->
                                    <div th:each="p, key2:${related_products}" th:if="${key2.count<=4}">
                                        <div th:replace="~{common/list_product :: p_sale}"></div>
                                    </div>
                                    <!---->
                                </div>
                                <div th:if="${key > 1}" class="item">
                                    <!---->
                                    <div th:each="p, key2:${related_products}"
                                         th:if="${key2.count<=4*key} and ${key2.count> ((4*key)-4)}">
                                        <div th:replace="~{common/list_product :: p_sale}"></div>
                                    </div>
                                    <!---->
                                </div>
                            </th:block>
                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel"
                           data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel"
                           data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <!--/recommended_items-->

            </div>
        </div>
    </div>
</section>
<section class="content-item" id="comments">
    <div class="container">
        <div class="ratingUser" data-vote="0">


            <div class="starUser hiddenUser">

                <span class="fullUser" data-value="1"></span>

                <span class="selectedUser"></span>

            </div>

            <div class="starUser">

                <span class="fullUser" data-value="2"></span>
                <span class="halfUser" data-value="1.5"></span>
                <span class="selectedUser"></span>

            </div>

            <div class="starUser">

                <span class="fullUser" data-value="3"></span>
                <span class="halfUser" data-value="2.5"></span>
                <span class="selectedUser"></span>

            </div>

            <div class="starUser">

                <span class="fullUser" data-value="4"></span>
                <span class="halfUser" data-value="3.5"></span>
                <span class="selectedUser"></span>

            </div>

            <div class="starUser">

                <span class="fullUser" data-value="5"></span>
                <span class="halfUser" data-value="4.5"></span>
                <span class="selectedUser"></span>

            </div>

            <div class="scoreUser">
                <span>Bạn đánh giá: </span>
                <span class="score-ratingUser js-score">0</span>
                <span>/</span>
                <span class="totalUser">5</span>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-8">
                <form method="post" id="comment_form">
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-3 col-lg-2 hidden-xs">

                                <th:block th:if="${user == null}">
                                    <a href="/login">Đăng nhập</a>
                                </th:block>


                                <th:block th:unless="${user==null}">
                                    <th:block th:if="${img!=null}">
                                        <img class="img-responsive"
                                             style="width: 70px; height: 70px; margin-top: 20px; display: flex;object-fit: cover;"
                                             th:src="${img}"
                                             alt="">
                                    </th:block>

                                    <th:block th:unless="${img!=null}">
                                        <img class="img-responsive"
                                             style="width: 70px; height: 70px; margin-top: 20px; display: flex;object-fit: cover;"
                                             src='http://hinhdep.com.vn/wp-content/uploads/2012/10/cuhanh.jpg' alt="">
                                    </th:block>
                                </th:block>


                            </div>

                            <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                                <textarea name="comment_content" id="comment_content" class="form-control"
                                          placeholder="Nhập bình luận" rows="5"></textarea>
                            </div>
                        </div>

                        <div class="form-group" style="float: right;">
                            <input type="hidden" name="comment_id" id="comment_id" value="0"/>
                            <input type="submit" name="submit" id="submit" class="btn btn-info" value="Gửi"/>
                        </div>
                    </fieldset>

                </form>

                <div id="totalComment"></div>
                <div id="showComment">
                    <!-- COMMENT -->

                </div>
                <div class="alert alert-info" id="alert" style="text-align: center">
                    <a href="#" class="button" id="load_more" style="font-weight: 700">Tải thêm</a>
                </div>

                <!-- COMMENT 1 - END -->

                <!-- COMMENT 2 - START -->
                <!-- COMMENT 4 - END -->

            </div>
        </div>
    </div>
</section>
<div id="compare">

</div>

<div th:replace="~{common/footer :: footers}"></div>
<!--/Footer-->
<!--Script-->
<div th:replace="~{common/script_src :: script}"></div>
<script th:src="@{/user-st/js/alertify.min.js}"></script>
<script th:src="@{/user-st/rateStar.js}"></script>
<script th:src="@{/user-st/js/moment.js}"></script>
<script th:src="@{/user-st/js/compare.js}"></script>
<script th:src="@{/user-st/js/product-detail.js}"></script>
<script>
    let informationProduct = '';

    const changeImgDetail = (id) => {
        const src = document.getElementById(`img${id}`).src;
        document.getElementById('img-note').src = src;
        const tg = document.getElementsByClassName('boder-img')
        for (let i = 0; i < tg.length; i++) {
            tg[i].style.border = "1px solid #ccc"
        }
        document.getElementById(id).style.border = "1px solid #0061ff"

    }


    function addToCart(sku) {
        let data = {
            'sku': sku,
            'quantityProduct': $('#quantityProductDt').val(),
        };
        $.ajax({
            type: "PUT",
            url: "/addToCart",
            contentType: "application/json",
            data: JSON.stringify(data),
            dataType: "JSON",
            success: function (data) {

                if(`${data.message}` == 'maxPrice'){
                    $("#notification-compare").append(`<div class="alert alert-warning alert-dismissible">
                                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                            <strong>Thất bại</strong>
                                                            <p>Tổng tiền không vượt quá 150.000.000đ</p>
                                                       </div>`);
                }else if(`${data.message}` == 'maxQuantity'){
                    $("#notification-compare").append(`<div class="alert alert-warning alert-dismissible">
                                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                            <strong>Thất bại</strong>
                                                            <p>Đã đạt só lượng tối đa</p>
                                                       </div>`);
                }else {
                    $("#notification-compare").append(`<div class="alert alert-success alert-dismissible">
                                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                            <strong>Thành công!</strong>
                                                            <p>Thêm vào giỏ hàng thành công, đang có ${data.totalItem} sản phẩm</p>
                                                       </div>`);

                    $('#hienThiSoLuong').html('');
                    $('#hienThiSoLuong').append(`${data.totalItem}`);
                }
                setTimeout(function() {
                    $('.alert').fadeOut('slow');}, 4000
                );
            }, error: function () {
                alert("Lỗi addToCart");
            }
        });

    }
    function checkNumberCartOnblur(max){

        let x = $('#quantityProductDt').val();
        let text;
        if(isNaN(x)){
            $('#quantityProductDt').val(1);
            $("#notification-compare").append(`<div class="alert alert-warning alert-dismissible">
                                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                            <strong>Thông báo</strong>
                                                            <p>Đã nhập không đúng</p>
                                                       </div>`);
        }else if(x < 1){
            $('#quantityProductDt').val(1);
            $("#notification-compare").append(`<div class="alert alert-warning alert-dismissible">
                                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                            <strong>Thông báo</strong>
                                                            <p>Bạn đã nhập sai định dạng</p>
                                                       </div>`);
        }else if(x> max){
            $('#quantityProductDt').val(1);
            $("#notification-compare").append(`<div class="alert alert-warning alert-dismissible">
                                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                            <strong>Thông báo</strong>
                                                            <p>Số lượng Sản phẩm còn dưới ${max}</p>
                                                       </div>`);
        } else {
            $('#quantityProductDt').val(x);
        }
        setTimeout(function() {
            $('.alert').fadeOut('slow');}, 4000
        );

    }
    //    Lựa chọn cấu hình
    function selectOption(sku) {
        const url = $(location).attr('href').split("=")[0];
        console.log(url);
        window.location.replace(`${url}=${sku}`);
        /*$.ajax({
            type: "GET",
            url: `/admin/find-by-sku/${sku}`,
            contentType: "application/json",
            dataType: "JSON",
            success: function (data) {
                console.log(data);
                $('.flex-chk').prop("checked", false);
                $(`#${sku}-chk`).prop("checked", true);
                $('.option-product').removeClass("active-option");
                $(`#${sku}-div`).addClass("active-option");
                $('#img-note').attr("src", data.productsDetail.imgUrl);
                $('.dt-ing').attr("src", data.productsDetail.imgUrl);
                $('.link-add-to-cart').attr('onClick', `addToCart(${sku})`);
                $('.link-add-to-compare').attr('onClick', `addCompareProduct(${sku})`);
                $('#information-short-product').html('');
                $('#information-short-product').append(generateInformationShort(data));
            }, error: function () {
                alert("Lỗi chọn cấu hình");
            }
        });*/
    }

    const generateInformationShort = (value) => {
        const data = value.productsDetail;
        //Mô tả chung
        const information =
            `<span>
                <span>
                        ${data.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")} đ
                </span>
                <div>
                    <label>Số lượng:</label>
                    <input th:id="quantityProductDt" th:attr="onchange=|checkNumberCartOnblur(${item.quantity})|"  type="number" value="1" th:min="1" th:max="${data.quantity}" />
                </div>
            </span>
            <br>`
        //Mô tả laptop
        const informationLaptop =
            `${data.cpu == '' || data.cpu == null ? '' : `<p><b>Vi xử lý: </b>${data.cpu}</p>`}
            ${data.ram == '' || data.ram == null ? '' : `<p><b>RAM:</b>${data.ram}</p>`}
            ${data.hardDrive == '' || data.hardDrive == null ? '' : `<p><b>Ổ cứng: </b>${data.hardDrive}</p>`}
            ${data.vga == '' || data.vga == null ? '' : `<p><b>Card đồ họa: </b> ${data.vga} </p>`}
            ${data.displaySize == '' || data.displaySize == null ? '' : `<p><b>Màn hình: </b> ${data.displaySize} </p>`}
            ${data.os == '' || data.os == null ? '' : `<p><b>Hệ điều hành: </b> ${data.os} </p>`}
            ${data.color == '' || data.color == null ? '' : `<p><b>Màu sắc: </b> ${data.color} </p>`}`;

        //mô tả PC
        const informationPC =
            `${data.cpu == '' || data.cpu == null ? '' : `<p><b>Vi xử lý: </b>${data.cpu}</p>`}
            ${data.ram == '' || data.ram == null ? '' : `<p><b>RAM:</b>${data.ram}</p>`}
            ${data.hardDrive == '' || data.hardDrive == null ? '' : `<p><b>Ổ cứng: </b>${data.hardDrive}</p>`}
            ${data.vga == '' || data.vga == null ? '' : `<p><b>Card đồ họa: </b> ${data.vga} </p>`}
            ${data.displaySize == '' || data.displaySize == null ? '' : `<p><b>Màn hình: </b> ${data.displaySize} </p>`}
            ${data.os == '' || data.os == null ? '' : `<p><b>Hệ điều hành: </b> ${data.os} </p>`}
            ${data.color == '' || data.color == null ? '' : `<p><b>Màu sắc: </b> ${data.color} </p>`}
            ${data.power == '' ? '' || data.power == null : `<p><b>Nguồn: </b>${data.power}</p>`}`;

        //mô tả màn hình
        const informationMonitor =
            `${data.displaySize == '' || data.displaySize == null ? '' : `<p><b>Kích thước màn hình: </b>${data.displaySize}</p>`}
            ${data.brightness == '' || data.brightness == null ? '' : `<p><b>Độ sáng:</b>${data.brightness}</p>`}
            ${data.contrast == '' || data.contrast == null ? '' : `<p><b>Tỉ lệ tương phản: </b>${data.contrast}</p>`}
            ${data.resolution == '' || data.resolution == null ? '' : `<p><b>Độ phân giải: </b> ${data.resolution} </p>`}
            ${data.responseTime == '' || data.responseTime == null ? '' : `<p><b>Thời gian đáp ứng: </b> ${data.responseTime} </p>`}
            ${data.viewScreenshots == '' || data.viewScreenshots == null ? '' : `<p><b>Góc nhìn: </b> ${data.viewScreenshots} </p>`}`;

        //mô tả trạng thái sản phẩm
        const informationStatus =
            `${data.quantity == '' ? '' || data.quantity == null : `<p><b>Tình trạng: </b>${data.quantity != 0 ? 'Còn hàng' : 'Hết hàng'}</p>`}`;
    }
</script>
</body>
</html>